<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>會員登入</title>
<style>
</style>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">
		<form th:action="@{/member/login}" enctype="multipart/form-data"
			method="post">
			<div>
				姓名： <input type="text" name="username" id="username" onkeyup="check()" />
				<div id="checkUsername"></div>
			</div>
			<div>
				密碼：<input type="text" name="password" id="password" value="8uhb" />
			</div>


			<button>送出</button>
		</form>
	</div>
	<h3 th:text="${msg}"></h3>
	
		<div class="text-center m-5">
			快速登入:
			<button class="btn btn-outline-info fastLogin">admin</button>
			<button class="btn btn-outline-info fastLogin">admin1</button>
			<button class="btn btn-outline-info fastLogin">Kitty</button>
			<button class="btn btn-outline-info fastLogin">Billy</button>
			<button class="btn btn-outline-info fastLogin">Mandy</button>
			<button class="btn btn-outline-info fastLogin">Lucy</button>
			<button class="btn btn-outline-info fastLogin">David</button>
			<button class="btn btn-outline-info fastLogin">Dora</button>
			<button class="btn btn-outline-info fastLogin">Carl</button>
			<button class="btn btn-outline-info fastLogin">Mark</button>
			<button class="btn btn-outline-info fastLogin">Eve</button>
		</div>
	
</body>


	<script type="text/javascript">
	
		function check(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (xhttp.readyState == 4 && xhttp.status == 200)
				document.getElementById("checkUsername").innerHTML = xhttp.responseText;
		}
		xhttp.open("POST","http://localhost:8080/community/member/ajax/checkUsername",true);
		xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp.send("username="+username.value);
		}
		
	const fastLogin = document.querySelectorAll(".fastLogin");
	const accountInput = document.querySelector("#username");
	const passwordInput = document.querySelector("#password");

	fastLogin.forEach(button=>{
		button.addEventListener("click",function(){
			accountInput.value=this.innerHTML;
			if(accountInput.value.indexOf('admin')!=-1){passwordInput.value='8uhb'}else{
			passwordInput.value='zxcvbnm';}
		})
	})
	</script>

</html>