<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div>
		<div style="display: flex; justify-content: space-between">





			<div class="card" style="width: 18rem;"></div>




			<div class="card" style="width: 18rem;"></div>



			<div class="card" style="width: 18rem;">
				<form th:action="@{/member/update}" enctype="multipart/form-data" id="form1"
					method="post">
					<img class="card-img-top" id="photo"
						th:src="@{'data:image/jpeg;base64,'+${session.loggedInMember.generateBase64Image()}}" />
					<div class="card-body">
						<div id="show">
							<h5 class="card-title" id="username">[[${session.loggedInMember.username}]]</h5>
							<p class="card-text" id="password">[[${session.loggedInMember.password}]]</p>
							<p class="card-text" id="level">[[${session.loggedInMember.level}]]</p>
							<p class="card-text" id="email">[[${session.loggedInMember.email}]]</p>
						</div>
						<div id="update" style="display: none">
							<h5 class="card-title">
								姓名： <input type="text" name="username" id="updatename"
									th:value="${session.loggedInMember.username}" onkeyup="check()" />
							</h5>
							<div id="checkUsername"></div>
							<p class="card-text">
								<input type="hidden" name="id" id="idnumber"
									th:value="${session.loggedInMember.id}" />
							</p>
							<p class="card-text">
								<input type="hidden" name="level"
									th:value="${session.loggedInMember.level}" />
							</p>
							<p class="card-text">
								密碼：<input type="text" name="password"
									th:value="${session.loggedInMember.password}" />
							</p>
							<p class="card-text">
								信箱：<input type="text" name="email"
									th:value="${session.loggedInMember.email}" />
							</p>
							<p class="card-text">
								頭像：<input type="file" name="photo" />
							</p>
						</div>
					</div>
				</form>
				<div id="send" style="display: none"><button onclick="sendForm()">送出</button></div>
				<div id="msg"></div>
				<div><button onclick="showupdate()" id="edit" class="btn btn-primary">編輯</button></div>
			</div>




		</div>
	</div>
</body>

<script type="text/javascript">
	
	function showupdate(){
	if(document.getElementById("show").style.display==="none"){document.getElementById("send").style.display="none";document.getElementById("show").style.display="block";document.getElementById("edit").innerHTML="編輯";}else{document.getElementById("send").style.display="none";document.getElementById("show").style.display="none";document.getElementById("edit").innerHTML="取消編輯";document.getElementById("send").style.display="block";}
	if(document.getElementById("update").style.display==="none"){document.getElementById("update").style.display="block";document.getElementById("edit").innerHTML="取消編輯";}else{document.getElementById("update").style.display="none";document.getElementById("edit").innerHTML="編輯";}
	}
	
		function sendForm() {
			var form = document.getElementById("form1");
			var formdata = new FormData(form);
			var xhr = new XMLHttpRequest();
			xhr.onload = function() {
				document.getElementById("msg").innerHTML = xhr.responseText;
				refreshSession();
			}

			xhr.open("POST", "http://localhost:8080/community/member/update", true);
			xhr.send(formdata);
		}
		
		function refreshSession(){
		var xhr1 = new XMLHttpRequest();
		xhr1.onload = function() {
		document.getElementById("member").innerHTML = xhr1.responseText;
		}
		xhr1.open("POST", "http://localhost:8080/community/member/refreshLogin", true);
		xhr1.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhr1.send("id="+idnumber.value);
		}
	
	
		function check(){
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (xhttp.readyState == 4 && xhttp.status == 200)
				document.getElementById("checkUsername").innerHTML = xhttp.responseText;
		}
		xhttp.open("POST","http://localhost:8080/community/member/ajax/checkUsername",true);
		xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp.send("username="+updatename.value);
		}
	</script>

</html>