<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<style>
#reset,#send,input{
border-radius:0.375rem;
font-weight:bold
}


</style>
</head>
<body style="background-image:url('../image/signup.png');color:white">
	<div th:replace="~{layout/navbar}"></div>
	<div class="container" style="margin-top:50px;font-weight:bold;font-size:20px;display:flex;flex-direction:row;justify-content:center" >
		<form th:action="@{/member/signup}" enctype="multipart/form-data"
			method="post" style="display:flex;flex-direction:column;vertical-align:middle;align-items:center;margin-right:30px">
		<div>
			<div>
				<label for="username">姓名：</label>
				<input type="text" name="username" id="username"
					onkeyup="checkUsername()" required/>
				<span id="checkUsername" style="color:#00E3E3;font-size:30px;position:absolute"></span>
			</div><br>
			<div>
				<input type="hidden" name="level"  id="level" value="member" />
			</div>
			<div>
				<label for="password">密碼：</label>
				<input type="text" name="password" id="password" required/>
			</div><br>
			
			
			<div>
				<label for="tel">電話：</label>
				<input type="tel" name="tel" id="tel" required/>
			</div><br>
			<div>
				<label for="birthday">生日：</label>
				<input type="date" name="birthday" id="birthday" required/>
			</div><br>
			<div>
			<span>性別：</span>
				<input type="radio" name="gender" id="male" value="male" required/>
				<label for="male" style="padding-right:15px">男</label>
				<input type="radio" name="gender" id="female" value="female" required/>
				<label for="female" style="padding-right:15px">女</label>
			</div><br>
			
			<div>
				<label for="email">信箱：</label>
				<input type="text" name="email" id="email" onkeyup="checkEmail()" required/>
				<span id="mailValid" style="color:#00E3E3;font-size:30px;position:absolute"></span>
			</div><br>
			<div>
				照片：(非必填)<input type="file" name="photo" id="photo" />
			</div><br>
			<button id="reset" type="button" style="width:100px;height:50px;margin:auto;font-size:20px;margin-right:10px">清除</button>
			<button id="send"  style="width:100px;height:50px;margin:auto;font-size:20px">送出</button>
		</div>
		</form>
		<div style="width:300px;height:300px;border:solid black 1px;overflow:hidden;border-radius:0.375rem;">
			<img class="container-fluid" id="viewPhoto" th:src="@{/image/noimg.png}" style="height:300px;padding:0"/>
		</div><br>
	</div>

	<h3 th:text="${ok}"></h3>

	<h3 th:text="${errorMsg}"></h3>

</body>

<script type="text/javascript">
	
		function checkUsername(){
		var xhttp1 = new XMLHttpRequest();
		xhttp1.onreadystatechange = function() {
			if (xhttp1.readyState == 4 && xhttp1.status == 200)
				document.getElementById("checkUsername").innerHTML = xhttp1.responseText;
		}
		xhttp1.open("POST","http://localhost:8080/community/member/ajax/checkUsername",true);
		xhttp1.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp1.send("username="+username.value);
		}
		

		
		function checkEmail(){
		var xhttp2 = new XMLHttpRequest();
		xhttp2.onreadystatechange = function() {
			if (xhttp2.readyState == 4 && xhttp2.status == 200)
				document.getElementById("mailValid").innerHTML = xhttp2.responseText;
		}
		xhttp2.open("POST","http://localhost:8080/community/member/ajax/validEmail",true);
		xhttp2.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp2.send("email="+email.value);
		}
		
		
		function sendEmail(){
		var xhttp3 = new XMLHttpRequest();
		xhttp3.onreadystatechange = function() {
			if (xhttp3.readyState < 4){
			    document.getElementById("mailValid").innerHTML="請稍後";
			    }
			if (xhttp3.readyState == 4 && xhttp3.status == 200){
				document.getElementById("mailValid").innerHTML = xhttp3.responseText;
				}
		}
		xhttp3.open("POST","http://localhost:8080/community/mail/valid",true);
		xhttp3.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp3.send("email="+email.value);
		}
		
document.getElementById("reset").addEventListener("click",function (){
viewPhoto.src='/community/image/noimg.png';
username.value="";
password.value="";
tel.value="";
photo.value="";
email.value="";
male.checked = false;
female.checked = false;
document.getElementById("checkUsername").innerHTML="";
document.getElementById("mailValid").innerHTML="";
})

let a=document.getElementById("photo");
a.addEventListener("change", function(e) {
	let photo = this.files[0];
	viewPhoto.src=URL.createObjectURL(photo);
})
	</script>

</html>