<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">
		<form th:action="@{/member/signup}" enctype="multipart/form-data"
			method="post">
			<div>
				姓名： <input type="text" name="username" id="username"
					onkeyup="checkUsername()" />
				<div id="checkUsername"></div>
			</div>
			<div>
				<input type="hidden" name="level" value="member" />
			</div>
			<div>
				密碼：<input type="text" name="password" value="aaa" />
			</div>
			<div>
				信箱：<input type="text" name="email" id="email" onkeyup="checkEmail()" />
				<h3 id="mailValid"></h3>
			</div>
			<div>
				頭像：<input type="file" name="photo" />
			</div>

			<button id="send" >送出</button>
		</form>
	</div>

	<h3 th:text="${ok}"></h3>

	<h3 th:text="${errorMsg}"></h3>

</body>

<script type="text/javascript">
	
		function checkUsername(){
		var xhttp1 = new XMLHttpRequest();
		xhttp1.onreadystatechange = function() {
			if (xhttp1.readyState == 4 && xhttp1.status == 200)
				document.getElementById("checkUsername").innerHTML = xhttp1.responseText;
		}
		xhttp1.open("POST","http://localhost:8080/community/member/ajax/checkUsername",true);
		xhttp1.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp1.send("username="+username.value);
		}
		

		
		function checkEmail(){
		var xhttp2 = new XMLHttpRequest();
		xhttp2.onreadystatechange = function() {
			if (xhttp2.readyState == 4 && xhttp2.status == 200)
				document.getElementById("mailValid").innerHTML = xhttp2.responseText;
		}
		xhttp2.open("POST","http://localhost:8080/community/member/ajax/validEmail",true);
		xhttp2.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp2.send("email="+email.value);
		}
		
		
		function sendEmail(){
		var xhttp3 = new XMLHttpRequest();
		xhttp3.onreadystatechange = function() {
			if (xhttp3.readyState < 4){
			    document.getElementById("mailValid").innerHTML="請稍後";
			    }
			if (xhttp3.readyState == 4 && xhttp3.status == 200){
				document.getElementById("mailValid").innerHTML = xhttp3.responseText;
				}
		}
		xhttp3.open("POST","http://localhost:8080/community/mail/valid",true);
		xhttp3.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xhttp3.send("email="+email.value);
		}
	</script>

</html>