<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>賣東西</title>
</head>
<body style="overflow:hidden">
<div id="success"style="height:339px;width:480px;display:flex;align-items:center;background-size:contain;background-image:url('../image/frame.png');position:absolute;
margin-top:25vh;margin-left:-5vw;display:none;padding-top:100px;padding-left:144px">
<div style="display:inline-flex;flex-direction:column">
<div id="demo" style="font-size:50px">上架成功</div>
<button onclick="successAndClose()">確定</button>
</div>
</div>
<!------------------------------------------- 賣東西Start ------------------------------->
				<div style="width:600px;margin:auto;margin-top:100px;margin-bottom:200px">
				<form id="publishForm" th:action="@{/mall/addProduct}" enctype="multipart/form-data" method="post">
					<div>
						<div style="width:200px;height:200px;border:solid black 1px;overflow:hidden;border-radius:0.375rem;">
						<img class="container-fluid" id="preview" th:src="@{/image/preview.png}" style="height:200px;padding:0"/>
						</div><br>
						<figure style="display: flex; flex-direction: colume;text-align:center">
							<label for="file" style="height:49.5px;width:150px;border-radius:0.375rem;background-image:url('../image/blackBTN.png');background-size:cover">
							<input type="file" name="productPhoto" id="file" style="display:none;"/>
							<span style="line-height:49.5px;color:white;font-weight:bold;font-size:20px;">上傳照片</span>
							</label>
						</figure>
						<figure style="display: flex; flex-direction: colume">
							<label for="name" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">名稱:</label>
							<input type="text" id="name" name="productName" style="width: 7vw; height: 3vh" required></input>
						</figure>
					</div>
					<div style="display: flex; flex-direction: row;">
						<figure style="display: flex; flex-direction: colume;padding-right:20px">
							<span style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">分類:</span>
							<select id="category" name="category"
								style="width: 7vw; height: 3vh" onchange="showPublishDetail(this.value)">
								<option value="服飾">服飾</option>
								<option value="鞋包配件">鞋包配件</option>
								<option value="休閒生活">休閒生活</option>
								<option value="3C">3C</option>
								<option value="寵物生活">寵物生活</option>
								
								<option value="其他">其他</option>
							</select>
						</figure>
						<figure style="display: flex; flex-direction: colume">
							<span style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">細目:</span>
							<div ><select id="detail" name="detail" style="width: 7vw; height: 3vh">
									<option selected>女裝</option>
									<option>機能服/運動服/配件</option>
									<option>內衣/睡衣/塑身衣</option>
									<option>襪子</option>
									<option>童裝配件/孕期服飾</option>
									<option>男裝</option>
									<option>其他</option>
							</select></div>
						</figure>
					</div>
					<div>
						<figure style="display: flex; flex-direction: colume">
							<span style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">販售方式:</span>
							<input type="radio" name="timeLimit" id="typeA" value="noLimit"  checked onchange="checkType()"/>
							<label for="typeA" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">直購</label>
							<input type="radio" name="timeLimit" id="typeB" value="259200" onchange="checkType()"/>
							<label for="typeB" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">特賣</label>
							<input type="radio" name="timeLimit" id="typeC" value="604800" onchange="checkType()"/>
							<label for="typeC" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">競標</label>
							<input type="radio" name="timeLimit" id="typeD" value="1209600" onchange="checkType()"/>
							<label for="typeD" style="line-height:20px;font-weight:bold;font-size:20px">團購</label>
						</figure>
					</div>
					<div>
						<figure style="display: flex; flex-direction: colume">
							<label for="price" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">價錢: </label>
							<input type="number" id="price" name="price" 
							step=1 min=1 max=999999 style="width: 7vw; height: 3vh" oninput="if(this.value<=0)value=1"></input>
						</figure>
					</div>
					<div>
						<figure style="display: flex; flex-direction: colume" id="stockBlock">
							<label for="stock" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">數量:</label>
							<input type="number" id="stock"  name="quantity" 
							step=1 min=1 max=999999 style="width: 7vw; height: 3vh" value="1" oninput="if(this.value<=0)value=1"></input>
						</figure>
					</div>
					<div>
						<figure style="display: flex; flex-direction: colume">
							<span style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">狀態:</span>
							<input type="radio" name="status" id="new" value="0" checked/>
							<label for="new" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px" >全新</label>
							<input type="radio" name="status" id="used" value="1" />
							<label for="used" style="line-height:20px;font-weight:bold;font-size:20px">二手</label>
						</figure>
					</div>
					<div>
						<figure style="display: flex; flex-direction: colume;padding-right:50px" id="typeDetail">
							<span style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">議價:</span>
							<input type="radio" name="bargain" id="cannot" value="0" checked/>
							<label for="cannot" style="line-height:20px;padding-right:15px;font-weight:bold;font-size:20px">不可議價</label>
							<input type="radio" name="bargain" id="can" value="1" />
							<label for="can" id="canLabel" style="line-height:20px;font-weight:bold;font-size:20px">可議價</label>
						</figure>
					</div>
					
					<div>
						
							<label for="info" style="line-height:20px;font-weight:bold;font-size:20px">商品描述:</label><br>
							<textarea id="info" rows="3" name="info"
								style="width: 30vw; height: 20vh; resize: none;border-radius:0.375rem;"></textarea>
						
					</div>
				<button type="reset" id="resetPublishForm" style="width:150px;height:49.5px;line-height:49.5px;color:white;font-weight:bold;font-size:20px;
					background-image:url('../image/blackBTN.png');background-size:cover;background-color:transparent;border:none"> 重新輸入</button>
				<button type="button" onclick="sendForm()" style="width:150px;height:49.5px;line-height:49.5px;color:white;font-weight:bold;font-size:20px;
					background-image:url('../image/blackBTN.png');background-size:cover;background-color:transparent;border:none">新增商品</button>
				</form>
				</div>
				
<!---------------------- 賣東西End ------------------------------------------------------->
<script>
function checkType(){
let typeA = document.getElementById("typeA");
let typeB = document.getElementById("typeB");
let typeC = document.getElementById("typeC");
let typeD = document.getElementById("typeD");
let stockBlock = document.getElementById("stockBlock");
let resetPublishForm = document.getElementById("resetPublishForm");
if(typeA.checked){
document.getElementById("typeDetail").innerHTML ="<span style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">議價:</span><input type=\"radio\" name=\"bargain\" id=\"cannot\" value=\"0\" checked/><label for=\"cannot\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">不可議價</label><input type=\"radio\" name=\"bargain\" id=\"can\" value=\"1\" /><label for=\"can\" id=\"canLabel\" style=\"line-height:20px;font-weight:bold;font-size:20px\">可議價</label>";
stockBlock.innerHTML = "<label for=\"stock\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">數量:</label><input type=\"number\" id=\"stock\"  name=\"quantity\" step=1 min=1 max=999999 style=\"width: 7vw; height: 3vh\" value=\"1\" oninput=\"if(this.value<=0)value=1\"></input>";
}
if(typeB.checked){
document.getElementById("typeDetail").innerHTML = "<span style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">議價:</span><input type=\"radio\" name=\"bargain\" id=\"cannot\" value=\"0\" checked/><label for=\"cannot\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">不可議價</label><input type=\"radio\" name=\"bargain\" id=\"can\" value=\"1\" style=\"display:none\"/><label for=\"can\" id=\"canLabel\" style=\"line-height:20px;font-weight:bold;font-size:20px;display:none\">可議價</label>";
stockBlock.innerHTML = "<label for=\"stock\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">數量:</label><input type=\"number\" id=\"stock\"  name=\"quantity\" step=1 min=1 max=999999 style=\"width: 7vw; height: 3vh\" value=\"1\" oninput=\"if(this.value<=0)value=1\"></input>"
}
if(typeC.checked){
document.getElementById("typeDetail").innerHTML = "<span style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">議價:</span><input type=\"radio\" name=\"bargain\" id=\"cannot\" value=\"0\" checked/><label for=\"cannot\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">不可議價</label><input type=\"radio\" name=\"bargain\" id=\"can\" value=\"1\" style=\"display:none\"/><label for=\"can\" id=\"canLabel\" style=\"line-height:20px;font-weight:bold;font-size:20px;display:none\">可議價</label>";
stockBlock.innerHTML = "<label for=\"stock\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">數量:</label><input type=\"number\" id=\"stock\"  name=\"quantity\" step=1 min=1 max=999999 style=\"width: 7vw; height: 3vh\" value=\"1\" readonly oninput=\"if(this.value<=0)value=1\"></input>";
}
if(typeD.checked){
document.getElementById("typeDetail").innerHTML = "<span style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">議價:</span><input type=\"radio\" name=\"bargain\" id=\"cannot\" value=\"0\" checked/><label for=\"cannot\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">不可議價</label><input type=\"radio\" name=\"bargain\" id=\"can\" value=\"1\" style=\"display:none\"/><label for=\"can\" id=\"canLabel\" style=\"line-height:20px;font-weight:bold;font-size:20px;display:none\">可議價</label>";
stockBlock.innerHTML = "<label for=\"stock\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">數量:</label><input type=\"number\" id=\"stock\"  name=\"quantity\" step=1 min=1 max=999999 style=\"width: 7vw; height: 3vh\" value=\"1\" oninput=\"if(this.value<=0)value=1\"></input>"
}
resetPublishForm.addEventListener("click",function(){
document.getElementById("typeDetail").innerHTML ="<span style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">議價:</span><input type=\"radio\" name=\"bargain\" id=\"cannot\" value=\"0\" checked/><label for=\"cannot\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">不可議價</label><input type=\"radio\" name=\"bargain\" id=\"can\" value=\"1\" /><label for=\"can\" id=\"canLabel\" style=\"line-height:20px;font-weight:bold;font-size:20px\">可議價</label>";
stockBlock.innerHTML = "<label for=\"stock\" style=\"line-height:20px;padding-right:15px;font-weight:bold;font-size:20px\">數量:</label><input type=\"number\" id=\"stock\"  name=\"quantity\" step=1 min=1 max=999999 style=\"width: 7vw; height: 3vh\" value=\"1\" oninput=\"if(this.value<=0)value=1\"></input>";
})
}
</script>

<script>
function successAndClose(){
let success = document.getElementById("success");
location.reload();
}
</script>
<script>
function sendForm(){
let form = document.getElementById("publishForm");
let formdata = new FormData(form);
let xhttp = new XMLHttpRequest();
xhttp.onload = function(){
let success = document.getElementById("success");
success.style.display = 'block';
}
xhttp.open("POST","http://localhost:8080/community/mall/addProduct",true);
xhttp.send(formdata);
}
</script>


<script>
function showPublishDetail(chosen){
let category = document.getElementById("category");
let xhttp = new XMLHttpRequest();
xhttp.onload = function(){
document.getElementById("detail").innerHTML = xhttp.responseText;
}
xhttp.open("POST","http://localhost:8080/community/mall/categoryDetail",true);
xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
xhttp.send("category="+chosen);
}
</script>
<script>
$("#file").change(function(){
readURL(this);
});
function readURL(input){
if(input.files && input.files[0]){
var reader = new FileReader();
reader.onload = function(e){
$("#preview").attr('src', e.target.result)
}
reader.readAsDataURL(input.files[0]);
}
}

</script>

</body>
</html>